:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  align-items: start;
  background-color: #fffaf0;
  background: var(--background);
  color: #5a4a42;
  color: var(--foreground);
  display: flex;
  font-family: Georgia, serif;
  justify-content: center;
  margin: 20;
  min-height: 100vh;
  padding-top: 20px;

  @media screen and (min-width: 768px) {
    align-items: center;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 30px;
  line-height: 30px;
}

p {
  font-size: 16px;
  line-height: 2;
  margin-bottom: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}
